{#=====================================================
  Debug info component
  - Displays useful info connected with the request
  - Displays contents of session, if any
  - Will not be active on deploy (where debug is False)
=====================================================#}

{% if config.DEBUG %}

    <div id="debug" style="position: fixed;
                           right: 1em;
                           bottom: 1em;
                           width: fit-contents;
                           font-size: 0.8rem;
                           line-height: 1;
                           padding: 0.75em 1em 0;
                           background-color: var(--pico-background-color);
                           border: 2px solid red;
                           border-radius: 0.4em;
                           box-shadow: 0 0.25em 1em #0007">

        <p><strong>Request Data</strong></p>

        <ul>
            <li>Path: <strong>{{ request.path }}</strong></li>
            <li>Method: <strong>{{ request.method }}</strong></li>
            <li>Route: <strong>{{ request.url_rule }}</strong></li>
            <li>Func: <strong>{{ request.endpoint }}</strong></li>
            <li>Args:
                {% if request.view_args.items() %}
                    <ul>
                        {% for key, value in request.view_args.items() %}
                            <li><strong>{{ key }}: {{ value }}</strong></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <em>None</em>
                {% endif %}
            </li>
        </ul>

        <p><strong>Session Data</strong></p>

        <ul>
            {% for key, value in session.items() %}
                <li>{{ key }}: <strong>{{ value }}</strong></li>
            {% else %}
                <p><em>None</em></p>
            {% endfor %}
        </ul>

    </div>

{% endif %}

