{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>A Single Thing...</h1>


    <article>

        <header>
            <h3>{{ thing.t_name }}</h3>
        </header>

        <p>Owner: <strong>{{ thing.u_name }}</strong></p>

        {# Is user logged in? #}
        {% if session.user_id %}

            {# And are they the owner of this thing? #}
            {% if session.user_id == thing.u_id %}

                <footer>
                    <a href="/delete/{{ thing.t_id }}" onclick="return confirm('Really delete?');">Delete</a>
                </footer>

            {% endif %}

        {% endif %}

    </article>


    <a role="button" href="/things">Back to Thing List</a>

{% endblock %}